fastapi
uvicorn
python-dotenv
python-docx
python-multipart

langchain
langchain-core
langchain-groq
langgraph
pydantic
langchain-chroma
langchain-huggingface
langchain-text-splitters
sentence-transformers